<% include partials/header %>
    <div class="ui main text container">
   	    <div class="ui huge header"><%=smed.title%></div>
        <div class="ui top attached segment">
	        <div class="item">
	           <img class="ui centered rounded image" src="<%= smed.image %>">
	            <div class="content">
	                <div class="meta">
    	                <span><%= smed.created.toDateString() %></span>
	                </div>
            	     <div class="description">
            	        <p><%- smed.description %></p>
            	     </div>
	            </div>
            </div>
            <a href="/medicine/<%=smed._id%>/edit" class="ui orange basic button">edit medicine data</a>
            <form style="display: inline" method="POST" action="/medicine/<%=smed._id%>?_method=DELETE">
                <button class="ui red basic button" type="submit">Delete medicine</button>
            </form>
        </div>
        
    </div>
    


<% include partials/footer %>
